<div class="w-full flex flex-col font-inter">
	<h1 class="text-3xl font-bold ml-16 md:ml-80 mb-24">Rigging</h1>
	<div class="flex w-full justify-evenly py-16 px-16 md:px-80">
		<%= image_tag('rigging/regatta.jpg', alt:'two sailboats on the water') %>
		<div class="flex flex-col p-8">
			<h2 class="text-2xl font-bold">Rigging Services</h2>
			<div class="flex flex-col">
				<h3>Big Jobs Under Our Belt</h3>
				<div class="flex gap-2">
					<p>icon</p>
					<p>From the Falls of Clyde to the Columbia to the Hawaiian Chieftain, Brion Toss Yacht Rigging gets the call first when tough tall-ship rigging jobs come up.</p>
				</div>
			</div>
			<div class="flex flex-col">
				<h3>Synthetic Rigging Experts</h3>
				<div class="flex gap-2">
					<p>icon</p>
					<p>The rigging tools and techniques from the age of sail have becoming cutting edge again with Dyneema rigging and other high modulus fibers. No one knows better how to put the two together.</p>
				</div>
			</div>
			<div class="flex flex-col">
				<h3>Safety Is Job One</h3>
				<div class="flex gap-2">
					<p>icon</p>
					<p>The safety of your vessel and your crew is our highest priority in all our rigging services. Trusted by mariners across the country for more than 40 years to do the job right.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="w-full flex flex-col md:flex-row">
		<div class="w-full md:w-[25%] h-[50dvh] md:h-[100vh] flex align-middle bg-[url('rigging/sails.jpg')]">
			<div class="text-white text-center p-4 gap-8 bg-[rgba(0,0,0,.5)]">
				<h2 class="font-3xl font-bold">Synthetic Rigging Experts</h2>
				<p class="font-semibold">High-modulus synthetic rigging systems are our specialty. Our pioneering work offers a return to the traditional riggers’ arts of knots and splicing in high-tech Dyneema Dux and other advanced materials.</p>
			</div>
		</div>
		<div class="w-full md:w-[25%] h-[50dvh] md:h-[100vh] flex align-middle bg-[url('rigging/watchman.jpg')]">
			<div class="text-white text-center p-4 gap-8 bg-[rgba(0,0,0,.5)]">
				<h2 class="font-3xl font-bold">Comprehensive Surveys</h2>
				<p class="font-semibold">Every rigging engagement is preceded by a survey that takes in your current running and standing rigging, masts, masthead, spreaders, chainplates and more… providing a picture of the whole system.</p>
			</div>
		</div>
		<div class="w-full md:w-[25%] h-[50dvh] md:h-[100vh] flex align-middle bg-[url('rigging/juggingup.jpg')]">
			<div class="text-white text-center p-4 gap-8 bg-[rgba(0,0,0,.5)]">
				<h2 class="font-3xl font-bold">A Trip to the Masthead</h2>
				<p class="font-semibold">Every survey includes a trip to the masthead, something that sets us apart from many surveyors. Every terminal, pin, and toggle gets checked for problems ranging from metal fatigue to galvanic corrosion.</p>
			</div>
		</div>
		<div class="w-full md:w-[25%] h-[50dvh] md:h-[100vh] flex align-middle bg-[url('rigging/bow.jpg')]">
			<div class="text-white text-center p-4 gap-8 bg-[rgba(0,0,0,.5)]">
				<h2 class="font-3xl font-bold">Smooth Sailing Ahead</h2>
				<p class="font-semibold">Having your vessel inspected or rigged by Brion Toss Yacht Rigging offers the peace of mind that hundreds of off-shore sailors have sought and enjoyed from our services.</p>
			</div>
		</div>
	</div>
</div>